In [15]:
from pandas import * 
from pyodide import *
from statistics import *

dt = read_csv(open_url("https://raw.githubusercontent.com/ashraf7hossain/ipynb/main/data.csv"))

dt['total'] = dt['weight'] + dt['height']

dt.head()

   id  height  weight   total
0   1   65.78  112.99  178.77
1   2   71.52  136.49  208.01
2   3   69.40  153.03  222.43
3   4   68.22  142.34  210.56
4   5   67.79  144.30  212.09